* {
    box-sizing: border-box;
}

nav a {
    color: green;
    font-size: 20px;
}

nav a[href$="cont"] {
    text-transform: uppercase;
}

body {
    font-family: 'Lora', serif;
}

.card-title {
    color: red;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat';
    margin-bottom: 40px;
}

.card-img {
    display: block;
    border-radius: 20px;
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

.img-center {
    object-position: center
}

.img-top {
    object-position: top
}

.rating {
    color: green;
    font-size: 18px;
}
[id="cont"] {
    color: green;
    text-align: right;
    text-decoration: underline;
}

address a {
    font-size: 20px;
    text-decoration: none;
}

address a[href^="tel"] {
    color: rgb(9, 50, 9) ;
}

address a[href^="mail"] {
    color: rgb(165, 18, 108) ;
}

footer p {
    font-size: 40px;
}

a {
    font-family: 'Roboto';
}

main {
    margin-top: 30px;
    margin-bottom: 30px;
}

nav {
    padding: 30px;
}

nav a:nth-last-child(n + 2) {
    margin-right: 20px;
}

.film-cards {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main section:nth-of-type(1) div {
    display: inline-block;
    width: 400px;
    padding: 20px;
}

.film-card {
    vertical-align: top;
}


.weight-100 {
    font-weight: 100
}

.weight-200 {
    font-weight: 200
}

.weight-300 {
    font-weight: 300
}

.weight-400 {
    font-weight: 400
}

.weight-500 {
    font-weight: 500
}

.weight-600 {
    font-weight: 600
}

.weight-700 {
    font-weight: 700
}

.weight-800 {
    font-weight: 800
}

.weight-900 {
    font-weight: 900
}