@import url(./reset.css);

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgb(40, 33, 47);
}

body {
    background-color: rgb(195, 186, 174);
}

nav {
    background-color: rgb(200, 240, 242);
}

.drop-down-div {
    position: absolute;
    display: none;
    background-color: rgb(200, 240, 242);

}

.products-div {
    left: 0;
    right: 0;
}

.products-a:hover .products-div {
    display: block;
}

.product2-a:hover .product2-div {
    display: block;
}
