* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    margin-bottom: 0px;
    font-family: 'Comic Sans MS', 'Comic Neue', sans-serif;
    /* font-family: Roboto, sans-serif; */
}

.flex {
    display: flex;
}

.wrapper {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.dark-grey {
    background-color: #1a1a1a;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #5271ff;
    text-decoration: underline;
}

button:hover {
    border: white;
}

button:active img {
    border: 3px solid #52ebff;
}

.logo-top {
    margin-left: 5px;
    width: fit-content;
}

nav a {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: white;
    align-items: center;
    margin-left: 40px;
}

nav a:first-child {
    margin-left: 1px;
}


nav a:nth-child(3) {
    margin-left: auto;
}

.logo-long {
    height: 150px;
}

.logo-long a {
    display: inline-block;
    height: inherit;
}

main {
    padding-top: 10px;
}

.column {
    flex-direction: column;
}

.aside-left {
    border-radius: 10px;
    width: 65px;
    height: inherit;
    flex-direction: column;
    background-color: transparent;
}

aside button {
    width: 65px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #4F4F4F;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid transparent;
}

aside button img {
    border-radius: 10px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.aside-right {
    width: 200px;
    margin-left: auto;
    row-gap: 10px;
}

.advertising-card {
    display: inline-block;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-color: white;
}

.advertising-card a {
    display: inline-block;
    height: inherit;
    color: #5271ff;
    font-size: 22px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    text-decoration: none;

}

.first-advertising-card {
    background-image: url(./images/advertisement-josera-img.jpg);
}

.second-advertising-card {
    background-image: url(./images/advertisement-running-wheel-img.jpg);
}

.fird-advertising-card {
    background-image: url(./images/advertisement-calliti-img.jpg);
}

.post-block {
    width: 1084px;
    margin-left: auto;
    margin-right: auto;
}

.post-a {
    width: inherit;
    background-color: white;
    border-radius: 10px;
}

.post-a img {

}


/*  font-weight: bold;
    font-weight: normal;
    color: #5271ff;
    background-color: #EEEFF1; */